.about {
  background-image: url(../img/Rectangle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;



  &__title {
    font-size: 36px;
    margin-left: 265px;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  &__desc {
    margin-left: 265px;
    max-width: 625px;
    margin-bottom: -265px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__photo {
    margin-left: 100px;



  }
  &__btn {
    margin-left: 265px;
    margin-bottom: 62px;
  }

}
.about__btn.three {
  margin-left: 50px;
}

.about__btn.two {

  border: 3px solid #2d5e5e;

  border-radius: 10px;


  background-color: rgba(28,28,28,0)

}